.main-content{
  height: 400px;
  margin: auto;
  padding: 10px;
}

h2 {
	color: white;
	font-weight: bold;
}

#text-to-analyze{
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
}

.container{
	width: 100%;
	height: 100%;
}

body{
  font-family: "Raleway";
  height: 500px;
  position: relative;
}

svg{
	width: 500px;
	height: 200px;
}

path.slice{
	stroke-width:2px;
	align-items: left;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
#sentiment{
	height: 900px;
	width: 400px;
}

#analyze {
	background-color: #F08D21;
}

#profile-setting {
	background-color: #00A0E8;
}

.form-control {
	width: 90%;
	height: 50%;
}

.label-primary {
	background-color: #00A0E8;
}

.label-danger {
	background-color: #F08D21;
}

#result-wrapper{
/*	overflow-y: scroll;
*/  height: 414px;
  background-color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
    overflow-x: hidden;
    border: 1px solid gray;
    border-radius: 4px;
}

.word-count{
  display: inline-block;
}

dd{
  text-align: left;
}

.logo-sentimail{
  height: 100%;
}

body { 
  background: url(../assets/main-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.result-placeholder{
  padding: 20px;
  margin: auto;
}